/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
header,nav{
    border-bottom: .125rem solid black;
}
article{
    border-right: .1rem solid black;
    margin-right: -1em;
    
}
@font-face{
    font-family: Montserrat;
    src: url(../fonts/sans-serif/montserrat-regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Josefinslab;
    src: url(../fonts/serif/josefinslab-regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Opensans;
    src: url(../fonts/sans-serif/opensans-regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

span{
    background-color: rgb(190, 98, 98);
    color: rgb(193, 221, 193);
}
h1{
    text-align: center;
    font-size: 3em;
    font-family: Montserrat, Arial, sans-serif;
    font-style: italic;
    
}
h2{
    font-size: 1.5em;
    margin-left: 1.7em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: Arial;
}
h3{
    font-size: 1em;
    text-align: left;
}
nav {
    background-color: #FFF;
    padding-left: 0;
  }
nav ul{
    text-align: left;
    margin-left:1em;
    padding:0;
    list-style: none;
    display: flex;
    word-spacing: normal;
    
}
nav a {
    color: rgb(30, 30, 97);
    text-decoration: none;
    padding: 1em 1em;
    font-size: 1.5em;
    font-family: Opensans, Arial, sans-serif;

  }
button{
    color: white;
    background-color:darkblue;
}
.article-image{
    width:15em;
    float: left;
    margin-right: 11.5em;
}
.main-section{
    display: grid;    
    grid-template-columns: 70% 20%;
    grid-column-gap: 3em;
}

.subsection{  
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 0.5em;
  row-gap: 1em;
}
div{
    max-width: 15em;
}
p{
    margin-right: 1.5em;
    font-family: Opensans,Arial, sans-serif;
}
p2{
    font-size: .5em;
}
figcaption{
    font-size: .8em;
    background-color: rgb(193, 221, 193);
    width: 22.5em;
    height: 3em;
    text-align: center ;
}
.margin{
    margin-left: 2.5rem;
}
.button{
    margin-right: 2.5em;
    margin-top:3em;
    
}


